<!DOCTYPE html>
<html>
  <head>
    <title>ProfLookUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body style="background-color: grey;">
    <div class="container">
      <header style="background-color: darkcyan;">
        <h1 style="font-family: Didot; color: white; ">ProfLookUp</h1>
        <p>
          <a href="{{ url_for('home')}}" style="font-family: Didot; color:antiquewhite; text-decoration: none; font-size: large;">Home</a> |
          <a href="{{ url_for('read')}}" style="font-family: Didot; color:antiquewhite; text-decoration: none; font-size: large">View Reviews</a> |
          <a href="{{ url_for('create')}}" style="font-family: Didot; color:antiquewhite; text-decoration: none; font-size: large" >Create Review</a>
        </p>
      </header>
      <main style="background-color: antiquewhite;">{% block container %} {% endblock %}</main>
      <footer style="background-color:lightsteelblue">
        <p style="font-family: Didot">
          For any inquires or feedback about this website, please contact: pa1363@nyu.edu
      </p>
      </footer>
    </div>
  </body>
</html>
