{% extends 'base.html' %} {% block container %}
<h2 style="font-family: Optima;">Write a Review for a Professor</h2>
<form method="POST" action="{{ url_for('create_post') }}" style="font-family: Optima;">
  <p>Professor Name: <input type="text"  name="prof_name" ><br /></p>
  <p>Course Taken: <input type="text"  name="course_name" ><br /></p>
  <p>Course Difficulty Rating (between 1 and 5):<input type="number"  name="course_rating" min="1" max="5"></p>
  <p>Overall Professor Rating (between 1 and 5):<input type="number" name="prof_rating" min="1" max="5"></p>
  <p>Review:</p>
  <textarea id="text_review" name="text_review" rows="4" cols="50"></textarea>
  <p>
    <input type="submit" name="post-btn" value="Post" />
    <a href="{{ url_for('read')}}">Cancel</a>
  </p>
</form>
{% endblock %}
